@media screen and (max-width: 500px) {
  .homepage-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    background-color: #fff;
    position: fixed;
    width: 100%;
  }
  .homepagecnt {
    padding: 12px 20px;
    padding-top: 4rem;
  }

  .homepagewelcometxt {
    font-size: 26px;
    line-height: 30px;
  }

  .homepage-nav-links {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  .hompage-nav-chat {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .hompage-nav-chat svg {
    width: 35px;
    height: 35px;
    fill: #6055ef;
  }

  .homechatntf {
    position: absolute;

    background-color: #6055ef;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    color: #fff;
  }

  .homechatntf p {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
  }

  .homepage-profile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 9999px;
  }

  .homepageheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    margin-top: .5rem;
  }

  .homepageheader-buttons {
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  .homepageheader-buttons button {
    /* background-color: #6055ef; */
    background-color: #fff;
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 9999px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    cursor: pointer;
    border: none;
  }

  .overviewbtn:hover, .productivitybtn:hover {
    background-color: #6055ef;
    color: #fff;
  }

  .tasklista {
    margin-top: 6.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
