@media screen and (max-width: 500px) {
  .homepage-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    background-color: #fff;
    position: fixed;
    width: 100%;
  }
  .homepagecnt {
    padding: 12px 20px;
    padding-top: 4rem;
    position: relative;
  }

  .homepagewelcometxt {
    font-size: 26px;
    line-height: 30px;
  }

  .homepage-nav-links {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  .hompage-nav-chat {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .hompage-nav-chat svg {
    width: 35px;
    height: 35px;
    fill: #6055ef;
  }

  .homechatntf {
    position: absolute;

    background-color: #6055ef;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    color: #fff;
  }

  .homechatntf p {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
  }

  .homepage-profile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 9999px;
  }
}
